footer {
    background: $mainColor;
    background-image: $gradient;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid $darkMainColor;
    .bannerWrapper {
        max-width: 960px;
        padding: 0;
        background-color: transparent;
        margin: 0 auto;
    }
    p {
        color: $lightText;
        padding: 20px 0;
        text-align: center;
        margin: 0;
        font-size: 1.8rem;
    }
}