html {
    font-size: 62.5%;
}
body {
    background-image: url('../assets/triangleBackground.png');
    background-size: cover;
    font-size: 1.6rem;
    font-family: $montserrat;
    background-attachment: fixed;
}

// White background containing page content
.wrapper {
    width: 96%;
    max-width: 960px;
    background-color: $lightText;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25);
    margin-bottom: 100px;
}

// Allow for items to be thinner than their parents - create hierarchy
// (i.e. game data accordian slightly slimmer than game title)
.innerWrapper {
    width: 95%;
    background-color: $backgroundColor;
    margin: 0 auto;
    padding: 25px 30px;
}

ul {
    list-style: none;
    padding: 0;
        a {
            text-decoration: none;
        }
}

// Button Styling
button, 
.manageButton,
input[type=submit] {
    text-transform: uppercase;
    background: $mainColor;
    background-image: $gradient;
    font-weight: bold;
    font-family: $oswald;
    padding: 10px 20px;
    border: none;
    color: $lightText;
    transition: all 0.2s ease;
    &:hover,
    &:focus {
        background: $accentColor;
        color: $darkMainColor;
    }
}

h2 {
    font-family: $oswald;
    font-size: 3.2rem;
    color: $darkMainColor;
}
h3 {
    font-size: 2.4rem;
    font-family: $oswald;
    color: $darkMainColor;
}
h4 {
    font-size: 1.6rem;
    font-family: $oswald;
}
p {
    font-size: 1.4rem;
    font-family: $montserrat;
}

.manageButton {
    text-decoration: none;
    display: block;
    float: right;
}
.addTeamButton {
    position: relative;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

// Soccer ball logo + lines beside
.soccerImage {
    width: 40px;
    margin: 20px auto 0 auto;
    &::before,
    &::after {
        content: '';
        display: block;
        height: 1px;
        background-color: rgba(0,0,0,0.3);
        position: relative;
        width: 50px;
    }
    &::before{
        top: 20px;
        right: 60px;
    }
    &::after {
        bottom: 20px;
        left: 50px;
    }
    img {
        width: 100%;
        opacity: 0.3;
    }
}

#app {
    position: relative;
    min-height: 100vh;
    border: 1px solid transparent;
}