header {
    margin: 0 auto;
    background: $mainColor;
    background-image: $gradient;
    border-bottom: 1px solid $darkMainColor;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25);
    margin-bottom: 40px;
    .bannerWrapper {
        max-width: 960px;
        padding: 0;
        background-color: transparent;
        margin: 0 auto;

    }
    a {
        text-decoration: none;
    }
    h1 {
        font-family: $oswald;
        color: $lightText;
        padding: 20px 0;
        margin: 0;
        font-size: 3.2rem;
        display: inline-block
    }
}