.roster {
    .innerWrapper {
        margin: 20px auto;
    }
}


.rosterTitle {
    margin: 0 0 20px 0;
    &::before {
        content: '';
        display: block;
        height: 2px;
        background-color: $darkMainColor;
        position: relative;
        bottom: -50px;
        width: 100%;
    }
}

.rosterButtons{
    margin-bottom: 20px;
}

.rosterBack,
.addPlayerButton {
    float: left;
    margin-right: 20px;
}

.rosterPanel {
    p {
        margin: 0;
    }
    p:first-child {
        margin: 0 0 10px 0;
    }
    span {
        font-weight: bold;
    }
}

.soccerImage {
    width: 40px;
    margin: 20px auto 0 auto;
    &::before,
    &::after {
        content: '';
        display: block;
        height: 1px;
        background-color: rgba(0,0,0,0.3);
        position: relative;
        width: 50px;
    }
    &::before{
        top: 20px;
        right: 60px;
    }
    &::after {
        bottom: 20px;
        left: 50px;
    }
    img {
        width: 100%;
        opacity: 0.3;
    }
}

// @media (max-width: 480px) {
//     .Collapsible__contentOuter p{
//         font-size: .8rem;
//     }
// }