// MANAGE TEAM PAGE 
// w/ team roster & player info
.roster {
    .innerWrapper {
        margin: 20px auto;
    }
}

.rosterTitle {
    margin: 0 0 20px 0;
    &::before {
        content: '';
        display: block;
        height: 2px;
        background-color: $darkMainColor;
        position: relative;
        bottom: -50px;
        width: 100%;
    }
}

.rosterButtons {
    margin-bottom: 20px;
}
.rosterBack,
.addPlayerButton {
    float: left;
    margin-right: 20px;
}

.rosterPanel {
    p {
        margin: 0;
    }
    p:first-child {
        margin: 0 0 10px 0;
    }
    span {
        font-weight: bold;
    }
}