/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    .teamTile {
        width: calc(33.3% - 20px);
        margin: 10px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .teamTile {
        width: calc(50% - 20px);
        margin: 10px;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .teamTile {
        width: calc(100% - 20px);
        margin: 10px;
    }
}

@media (max-width: 490px){
    .buttonYesNo {
        float: none;
        width: 144px;
        display: inline-block;
        margin: 20px 0 0 50%;
        transform: translateX(-50%);
    }
    .rsvp p{
        margin: 0;
        float: none;
        width: 100%;
        display: block;
    }
}